.login {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    margin-top: 15vh;
}

.login__form__header {
    margin-bottom: 3rem;
}