.nav {
    display: flex;
    border-bottom: 1px solid green;
    font-size: small;
    color: #006241;
    width: 100%;
    justify-content: space-between;
    padding: 0.2rem;

}

.nav>div {
    cursor: pointer;
}

.nav__left {
    display: flex;
    gap: 1rem;
}

.nav__right {
    display: flex;
    margin-inline: 25px;
    justify-content: space-between;
    align-items: center;
}